*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #111;
}
#encurtador, #mostraUrls, #refazUrl{
    border-top: solid 2px #331267;
    border-bottom: solid 2px #331267;
    color: #FFF;
    font-weight: bold;
	outline: none;
}
#encurtador{
    background-color: #149AFA;
    border-right: solid 1px #331267;
}
#mostraUrls{
	background-color: #CE6C59;
    border-left: solid 1px #331267;
}
#refazUrl{
    background-color: #385061;
    border-left: solid 1px #331267;
    border-right: solid 1px #331267;
	display: none;
}
main {
  max-width: 720px;
  width: 100%;
  border: 2.5px solid #330867;
  border-radius: 2.5px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(17, 17, 17, 0.125),
    0 5px 5px rgba(17, 17, 17, 0.25);
  background-image: linear-gradient(to bottom, #30cfd0 0%, #00b371 100%);
}

h1 {
  padding: 1rem;
  color: white;
}

input,
button {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  border: 0;
  padding: 1rem;
  vertical-align: middle;
}

input {
  box-sizing: border-box;
  width: 100%;
}

.botoes {
  display: flex;
}

button {
  cursor: pointer;
  flex: 1;
  background-color: transparent;
  color: white;
}
button:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

section {
  min-height: 120px;
  text-align: left;
  /*background-color: #c0c0c0;*/
}
article{
	margin-right: 10px;
	width: 50%;
	display: none;
}
article:first-child {
  text-align: right;
}
article p{
	margin: 0;
}
.links, .links:focus{
	padding: 0;
	margin: 0 auto;
	height: 100%;
	background: none;
    outline: none;
	width: 70%;
}
.se-pre-con{
	background: #fff;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	z-index:9999;
	position: absolute;
	margin: 0 auto;
}
.alter, .del {
	background-color: #f9f9f9;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 808.899 808.899' xml:space='preserve' style=';margin: 20%25;'%3E%3Cpath d='M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981 c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611 C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069 L27.473,390.597L0.3,512.69z'/%3E%3C/svg%3E%0A") no-repeat, linear-gradient(to bottom, #f9f9f9 5%,#e9e9e9 100%);
    border-radius: 50%;
    /*font-size: 12px;
    font-weight: bold;*/
    padding: 0;
	height: 20px;
    width: 20px;
	outline: none;
	background-repeat: no-repeat;
	background-position: center;
}
.alter:hover {
	background-color:#e9e9e9;
	background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 808.899 808.899' xml:space='preserve' style=';margin: 20%25;'%3E%3Cpath d='M328.883,89.125l107.59,107.589l-272.34,272.34L56.604,361.465L328.883,89.125z M518.113,63.177l-47.981-47.981 c-18.543-18.543-48.653-18.543-67.259,0l-45.961,45.961l107.59,107.59l53.611-53.611 C532.495,100.753,532.495,77.559,518.113,63.177z M0.3,512.69c-1.958,8.812,5.998,16.708,14.811,14.565l119.891-29.069 L27.473,390.597L0.3,512.69z'/%3E%3C/svg%3E%0A") no-repeat, linear-gradient(to top, #f9f9f9 5%,#e9e9e9 100%);
}
.del{
	background-color: #f9f9f9;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' version='1' viewBox='0 0 128 128' style='margin: 1px;'%3E%3Crect fill='%23d95656' width='12' height='4' x='18' y='4'/%3E%3Cpath fill='%23fff' opacity='.1' d='m18 4v1h12v-1h-12z'/%3E%3Crect fill='%23ba4242' width='30' height='35' x='9' y='8' rx='2' ry='2.059'/%3E%3Crect fill='%23d95656' width='36' height='8' x='6' y='5' rx='2' ry='2'/%3E%3Crect opacity='.4' width='4' height='20' x='22' y='18' rx='1' ry='1'/%3E%3Crect opacity='.4' width='4' height='20' x='30' y='18' rx='1' ry='1'/%3E%3Crect opacity='.4' width='4' height='20' x='14' y='18' rx='1' ry='1'/%3E%3Cpath fill='%23fff' opacity='.2' d='m8 5c-1.108 0-2 0.892-2 2v1c0-1.108 0.892-2 2-2h32c1.108 0 2 0.892 2 2v-1c0-1.108-0.892-2-2-2h-32z'/%3E%3Cpath opacity='.2' d='m6 11v1c0 1.108 0.892 2 2 2h32c1.108 0 2-0.892 2-2v-1c0 1.108-0.892 2-2 2h-32c-1.108 0-2-0.892-2-2z'/%3E%3Cpath opacity='.2' d='m9 40.941v1c0 1.141 0.892 2.059 2 2.059h26c1.108 0 2-0.918 2-2.0586v-1c0 1.141-0.892 2.059-2 2.059h-26c-1.108 0-2-0.918-2-2.059z'/%3E%3C/svg%3E%0A") no-repeat, linear-gradient(to top, #f9f9f9 5%,#e9e9e9 100%);
}

.del:hover{
	background-color:#e9e9e9;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' version='1' viewBox='0 0 128 128' style='margin: 1px;'%3E%3Crect fill='%23d95656' width='12' height='4' x='18' y='4'/%3E%3Cpath fill='%23fff' opacity='.1' d='m18 4v1h12v-1h-12z'/%3E%3Crect fill='%23ba4242' width='30' height='35' x='9' y='8' rx='2' ry='2.059'/%3E%3Crect fill='%23d95656' width='36' height='8' x='6' y='5' rx='2' ry='2'/%3E%3Crect opacity='.4' width='4' height='20' x='22' y='18' rx='1' ry='1'/%3E%3Crect opacity='.4' width='4' height='20' x='30' y='18' rx='1' ry='1'/%3E%3Crect opacity='.4' width='4' height='20' x='14' y='18' rx='1' ry='1'/%3E%3Cpath fill='%23fff' opacity='.2' d='m8 5c-1.108 0-2 0.892-2 2v1c0-1.108 0.892-2 2-2h32c1.108 0 2 0.892 2 2v-1c0-1.108-0.892-2-2-2h-32z'/%3E%3Cpath opacity='.2' d='m6 11v1c0 1.108 0.892 2 2 2h32c1.108 0 2-0.892 2-2v-1c0 1.108-0.892 2-2 2h-32c-1.108 0-2-0.892-2-2z'/%3E%3Cpath opacity='.2' d='m9 40.941v1c0 1.141 0.892 2.059 2 2.059h26c1.108 0 2-0.918 2-2.0586v-1c0 1.141-0.892 2.059-2 2.059h-26c-1.108 0-2-0.918-2-2.059z'/%3E%3C/svg%3E%0A") no-repeat, linear-gradient(to top, #f9f9f9 5%,#e9e9e9 100%);
}
@media only screen and (max-width:374px) {
	section{
		display: block;
	}
	article {
		flex: 0 0 100%;
		margin: 0 auto 10px auto;
		width: 100%;
	}
	article, article input, article:first-child  {
		text-align: center;
	}
}
